:root{
    --settings-b-radius: 4px;
    --settings-b-width: 2px;
}

.settings-modal-border{
    border: var(--settings-b-width) solid black; 
    border-radius: 6px;
}

.settings-left-panel{
    border-right: var(--settings-b-width) solid black;
    border-radius: var(--settings-b-radius) 0  0 var(--settings-b-radius);
}

.settings-right-panel{
    border-radius: 0 var(--settings-b-radius) var(--settings-b-radius) 0;
}