@import "tailwindcss";
@import "./styles/settings.css";

*{
    font-family: sans-serif;
}

.default-shadow{
    box-shadow: 0 3px 8px 1px rgba(0,0,0,.15);
}

.scroll-style::-webkit-scrollbar{
    color: black;
    width: 10px;
    border-radius: 5px;
}